##--------------------------------------------------------------------------------------------------------------------##
## Local Development/Developer Files

## Local Development Docs
.kanbn/
.dev/

##--------------------------------------------------------------------------------------------------------------------##
## Secrets & Local Environment Variables

## Environment Variables
.git.local.env

##--------------------------------------------------------------------------------------------------------------------##
## Output & Build Cache

## Rust and Cargo
/target

##--------------------------------------------------------------------------------------------------------------------##
